@import 'index';
@import 'about';

// * Hero Section - Smartphone
.hero {
    background-image: url("../images/careers-location-hero-mobile.jpg");
}

// * Careers Section - Smartphone
.careers {
    padding-inline: 8.5%;
    
    &__item {
        padding: 2rem;
        padding-top: 2.25rem;
        background-color: #F2F5F9;
        margin-bottom: 1rem;
    }

    &__profission {
        font-size: 1.125rem;
        line-height: 1.5rem;
        letter-spacing: -0.8px;
        margin-bottom: 0.3125rem;
    }

    &__location {
        margin-bottom: 1rem;
    }

    .btn {
        width: 100%;
        max-width: 250px;
    }
}

// * Tablet Style
@media all and (min-width: 768px) {
    // * Hero Section - Tablet
    .hero {
        background-image: url("../images/careers-locations-hero-tablet.jpg");
    }

    // * Careers Section - Tablet
    .careers {
        padding-inline: 5%;
        text-align: left;

        &__item {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 3rem;
        }

        &__profission {
            font-size: 1.5rem;
            line-height: 1.75rem;
            letter-spacing: -1.07px;
        }

        &__location {
            margin: 0;
        }

        .btn {
            grid-column: 2 / 3;
            grid-row: 1 / 3;
            width: 180px;
            justify-self: end;
        }
    }
}

// * Desktop Style
@media all and (min-width: 1440px) {
    // * Hero Section - Desktop
    .hero {
        background: url("../images/careers-locations-hero-desktop.jpg");
    }

    // * Big Images Section - Desktop
    .big-images {
        text-align: left;

        .item-image {
            grid-row: 1 / 3;
        }

        &__paragraph {
            margin: 0;
        }

        .btn {
            align-self: start;
        }
    }

    // * Careers Section - Desktop
    .careers {
        padding-inline: 11.45%;

        &__item {
            padding: 2.1875rem 4rem 2.1875rem 2.5rem;
        }
    }
}