@import url("./css-reset.css");

// * General Style - Smartphone
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 0.9375rem;
    line-height: 1.5625rem;
    font-family: 'Lexend Deca', sans-serif;
    position: relative;
    text-align: center;
}

h1, h2, h3, h4, a {
    font-family: 'Space Mono', monospace;
}

a {
    text-decoration: none;
    color: #FFF
}

img {
    max-width: 100%;
}

.btn {
    background: #FCB72B;
    width: 12rem;
    padding: 0.875rem;
    text-align: center;
    display: inline-block;
}

.arrow, .circle, .line {
    position: absolute;
    left: 0;
}

.circle, .line {
    display: none;
}

section {
    position: relative;
    margin-bottom: 7.5rem;
    overflow: hidden;

    &:last-of-type {
        margin-bottom: 0;
    }
}

// * Navbar Style - Smartphone
.nav {
    position: relative;
    height: 80px;
    text-align: left;

    &__container {
        position: fixed;
        z-index: 999;
        width: 100vw;
        background-color: #FFF;
        padding: 1.375rem 0;
        display: flex;
        align-items: center;
        
    }

    &__btn {
        position: absolute;
        left: 1.75rem;

        .close {
            display: none;
        }
    }

    &__logo {
        justify-self: center;
        margin: 0 auto;
    }

    &__links {
        padding-left: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background: #333A44;
        width: 65vw;
        height: 100vh;
        position: fixed;
        z-index: 99;
        transform: translateX(-500px);
        transition: all 0.5s;

        &.show {
            transform: translateX(0);
            box-shadow: 0 0 500px 500px rgba(53, 51, 51, 0.986);
        }

        .btn {
            margin-bottom: 1.5rem;
            padding-inline: 0;
        }
    }

    &__items {
        display: flex;
        flex-direction: column;
        margin-top: 8rem;

        a {
            margin-bottom: 1.5rem;
            font-size: 1.125rem;
        }
    }
}

// * Hero Section - Smartphone
.hero {
    padding: 30% 8.5% 47.7%;
    margin-bottom: 7.5rem;
    background: url('../images/home-hero-mobile.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: #FFF;
    position: relative;

    &__main-heading {
        font-size: 2.5rem;
        line-height: 2.5rem;
        margin-bottom: 1.5rem;
    }

    &__paragraph {
        margin-bottom: 2.125rem;
    }

    .arrow {
        bottom: 2.3125rem;
        left: -14.6875rem;
    }

    .circle, .three-circles {
        display: none;
    }
}

// * Locate Section - Smartphone
.locate {
    padding-inline: 8.5%;

    &__item {
        margin-bottom: 3rem;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__icon {
        width: 3.5rem;
        max-width: 6rem;
        margin-bottom: 1.5rem;
    }

    &__heading {
        font-size: 1.25rem;
        line-height: 1.75rem;
        letter-spacing: 0.89px;
        margin-bottom: 1.5rem;
    }

    &__paragraph {
        color: #939CAA;
    }
}

// * Big Images Section - Smartphone
.big-images {
    padding-inline: 2rem;

    &__item {
        position: relative;
        margin-bottom: 120px;

        .arrow {
            max-width: 735px;    
        }

        &:nth-of-type(1) .arrow{       
            bottom: 400px;
            // transform: translateY(-40%);
        }

        &:nth-of-type(2) .arrow{       
            top: 0;
            left: -200px;
        }

        &:nth-of-type(3) .arrow{       
            top: 0;
            left: 100px;
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }


    .item-image {
        border-radius: 50%;
        margin-bottom: 3.5rem;
    }

    &__heading {
        font-size: 2rem;
        line-height: 2rem;
        letter-spacing: -1.43px;
        margin-bottom: 2rem;
    }

    &__paragraph {
        color: #939CAA;
        margin-bottom: 2rem;
    }

}

// * App Download Section - Smartphone 
.app-download {
    padding: 23.4% 8.5%;
    background-image: url('../patterns/semi-circles.svg');
    background-color: #495567;
    background-repeat: no-repeat;
    background-size: 300%;
    background-position: 80% 100%;
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__heading {
        font-size: 2rem;
        line-height: 2rem;
        margin-bottom: 2.5rem;
    }

    &__buttons {
        display: flex;
        justify-content: space-between;
        width: 85%;

        img {
            height: 40px;
        }
    }
}

// * Footer - Smartphone
.footer {
    background: #333A44;
    padding: 17% 34.1% 23.46%;

    &__logo {
        margin-bottom: 42px;

        img {
            filter: brightness(100);
        }
    }

    &__links {
        margin-bottom: 85px;
        
    }

    &-item {
        color: #939CAA;
        margin-bottom: 1rem;
        display: block;

        &:last-child {
            margin-bottom: 0;
        }
    }
    
    &__social-media {
        display: flex;
        justify-content: space-between;
    }
}


// * Tablet Style
@media all and (min-width: 768px) {
    .circle {
        display: initial;
        z-index: -1;
    }

    // * Nav Style - Tablet
    .nav {
        display: flex;
        justify-content: space-between;
        padding-inline: 5.2%;
        
        &__container {
            width: 20%;
            position: static;
        }

        &__btn {
            display: none;
        }

        &__logo {
            margin: 0;
        }

        &__links {
            all: unset;
            z-index: 999;
            display: flex;
            align-items: center;
            justify-content: space-between;

            .btn, a {
                margin: 0;
            }
        }
        
        &__items {
            margin: 0;
            flex-direction: row;
            margin-right: 3rem;

            a {
                color: #939CAA;
                margin-right: 2rem;
                font-size: 0.9375rem;
            }
        }
    }

    // * Hero Section - Tablet
    .hero {
        padding: 17.8% 12.9% 28.2%;
        background: url("../images/home-hero-tablet.jpg");
        background-size: cover;

        &__main-heading {
            font-size: 3.5rem;
            line-height: 3.5rem;
            letter-spacing: -2.5px;
        }
        
        .arrow {
            left: -7.5rem;
        }

        .three-circles {
            display: initial;
            position: absolute;
            bottom: 50px;
            right: -35px;
        }
    }

    // * Locate Section - Tablet
    .locate {
        text-align: left;
        padding-inline: 12.9%;
        overflow: visible;
        margin-bottom: 9.0625rem;

        &__item {
            display: grid;
            grid-template-columns: 0.33fr 1fr;
            column-gap: 1.875rem;
            position: relative;
            
            &::before {
                z-index: -1;
                content: '';
                height: 133px;
                width: 15px;
                background: #E5ECF4;
                position: absolute;
                top: -120px;
                left: 40px;
            }
        }

        &__icon {
            grid-row: 1 / 3;
            margin: 0;
            max-width: unset;
            width: 6rem;
        }

        &__heading {
            font-size: 1.5rem;
        }
    }

    // * Big Images Section - Tablet
    .big-images {
        padding-inline: 0;

        &__item {
            &:nth-child(even) .circle {
                left: -350px;
            }
    
            &:nth-child(odd) .circle {
                left: unset;
                right: -350px;
            }

            &:nth-child(1) .arrow {
                left: unset;
                right: 0;
                bottom: 350px;
            }

            &:nth-child(2) .arrow {
                left: -100px
            }

            &:nth-child(3) .arrow {
                left: unset;
                top: 90px;
            }
        }
        
        &__content {
            padding-inline: 12.9%;
        }

        &__heading, &__paragraph {
            margin-bottom: 2.5rem;
        }

        &__heading {
            font-size: 3rem;
            line-height: 3rem;
        }
    }

    // * App Download Section - Tablet
    .app-download {
        padding: 8% 20.1%;

        &__heading {
            font-size: 3rem;
            line-height: 3rem;
        }

        &__buttons {
            width: 56%;
        }
    }

    // * Footer - Tablet
    .footer {
        padding: 2.1875rem 2.5rem 2rem 39px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        * {
            margin-bottom: 0;
        }

        &__links {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &-item, &__social-media a {
            margin-right: 2rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }
}

// * Desktop Style
@media all and (min-width: 1440px) {
    .btn {
        transition: background-color 0.2s, color 0.2s;

        &:hover {
            background-color: transparent;
            border: 2px solid #FCB72B;
            color: #FCB72B;
            padding: 12px;
        }
    }

    // * Nav Style - Desktop
    .nav {
        align-items: center;
        padding: 1.5% 11.7%;
        justify-content: unset;

        &__links {
            width: 100%;
        }

        &__item {
            transition: all 0.2s;

            &:hover {
                color: #FCB72B;
            }
        }
    }

    // * Hero Section - Desktop
    .hero {
        background-image: url("../images/home-hero-desktop.jpg");
        background-position: center;
        text-align: left;
        padding: 10.6% 53.8% 10.6% 11.45%;

        &__main-heading {
            margin-bottom: 2.5rem;
        }

        &__paragraph {
            line-height: 30px;
            letter-spacing: 0.031em;
            margin-bottom: 2.5rem;
            position: relative;
            left: 100px;
            width: 78%;
        }

        &__btn {
            position: relative;
            left: 100px;
        }

        .arrow {
            left: unset;
            right: 280px;
            bottom: 32%;
            transform: translateY(32%);
        }

        .three-circles {
            bottom: 29%;
            transform: translateY(29%);
        }

        .line {
            display: initial;
            bottom: 45%;
            transform: translateY(45%);
        }
    }

    // * Locate Section - Desktop
    .locate {
        padding-inline: 11.45% 13%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 60px;

        &__item {
            grid-template-columns: 1fr;
            margin: 0;
            max-width: 353px;

            &::before {
                inset: unset;
                height: 15px;
                width: 974px;
                left: -900px;
                bottom: 230px;
            }
        }

        &__icon {
            margin-bottom: 2.5rem;
        }
    }

    // * Big Images Section - Desktop
    .big-images {
        padding-inline: 11.5%;

        &__item {
            display: grid;
            grid-template-columns: 1fr 1fr;
            column-gap: 200px;

            &:nth-child(even) {
                .big-images__content {
                    grid-column: 2 / 3;
                }
            }

            &:nth-child(1) {
                .arrow {
                    right: -20%;
                    bottom: 0;
                }
                
                .circle {
                    right: -500px;
                }
            }

            &:nth-child(2) {
                .arrow {
                    left: -23%;
                }

                .circle {
                    left: -500px;
                }
            }

            &:nth-child(3) {
                .arrow {
                    right: -50%;
                }
                                
                .circle {
                    right: -500px;
                }
            }
        }
        
        .item-image {
            grid-column: 2 / 3;
            margin: 0;
        }

        &__content {
            grid-column: 1 /2;
            grid-row: 1 / 2;
            text-align: left;
            align-self: center;
            padding-inline: 0;
        }

    }

    // * App Download Section - Desktop
    .app-download {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 100px;
        text-align: left;
        flex-direction: row;
        padding: 7% 11.45%;

        &__heading {
            width: 90%;
            margin: 0;
        }

        &__buttons {
            justify-self: flex-end;
            width: 280px;
        }
    }

    // * Footer - Desktop
    .footer {
        padding: 2.4% 11.45%;

        &-item {
            transition: all 0.2s;

            &:hover {
                color: #FCB72B;
            }
        }

        &__social-media {
            transition: filter 0.8s;

            img:hover {
                filter: brightness(100);
            }
        }

    }
}
