@import 'index';
@import 'about';

.tablet, .desktop {
    display: none;
}

// * Hero Section - Smartphone
.hero {
    background: url("../images/careers-location-hero-mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;

    &__main-heading {
        margin: 0;
    }
}

// * Locations Section - Smartphone
.locations {
    padding-inline: 8.5%;

    .map {
        margin-bottom: 2.5rem;
    }

    &__cities {
        display: flex;
        flex-direction: column;
        margin-bottom: 4.5rem;
    }

    .city {
        padding: 1.375rem 6.25rem;
        background: rgba(252, 183, 43, 0.15);
        margin-bottom: 1rem;
        font-size: 1.5rem;
        line-height: 1.75rem;
        letter-spacing: -1.07px;
        font-family: 'Space Mono', sans-serif;
        color: #495567;
    }

    &__heading {
        font-size: 2rem;
        line-height: 2rem;
        letter-spacing: -1.43px;
        margin-bottom: 2rem;
        text-transform: capitalize;
    }

    &__paragraph {
        color: #939CAA;
        margin-bottom: 2rem;
    }
}

// * Tablet Style
@media all and (min-width: 768px) {
    .mobile {
        display: none;
    }

    .tablet {
        display: initial;
    }

    // * Hero Section - Tablet
    .hero {
        background: url("../images/careers-locations-hero-tablet.jpg");
    }

    // * Locations Section - Tablet
    .locations {
        padding-inline: 5.2%;

        .map {
            width: 100%;
        }

        &__cities {
            display: none;
        }

        &__content {
            padding-inline: 12.9%;
        }

        &__heading {
            font-size: 3rem;
            line-height: 3rem;
            letter-spacing: -2.14px;
            padding-inline: 15%;
            margin-bottom: 2.5rem;
        }
    }
}

// * Desktop Style
@media all and (min-width: 1440px) {
    .tablet {
        display: none;
    }

    .desktop {
        display: initial;
    }

    // * Hero Section - Desktop
    .hero {
        background-image: url("../images/careers-locations-hero-desktop.jpg");
        margin-bottom: 7.5rem;
    }

    // * Locations Section - Desktop
    .locations {
        padding-inline: 11.4%;
        
        .map {
            margin-bottom: 7.5rem;
        }

        &__content {
            padding: 0;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            column-gap: 30px;
            text-align: left;

            * {
                padding: 0;
                margin: 0;
            }
        }

        .btn {
            justify-self: center;
            align-self: center;
            padding: 14px 0;
        }
    }
}