@import 'index';


// * Hero Section - Smartphone
.hero {
    padding: 16% 8.5%;
    background-image: url("../images/about-hero-mobile.jpg");
    background-position: center;
    margin-bottom: 4.5rem;
}

// * Big Images Section - Smartphone
.big-images {

    &__item:nth-child(1) {
        .arrow {
            bottom: 55%;
        }
    }

    &__item:nth-child(2) {
        .arrow {
            left: -150px;
        }
    }
}

// * Values Section - Smartphone
.values {
    padding-inline: 8.5%;

    &__item {
        position: relative;
        margin-bottom: 56px;
    }

    &__heading {
        color: #495567;
        font-size: 2rem;
        line-height: 2rem;
        margin-bottom: 4rem;
    }

    &__image {
        border-radius: 50%;
        margin-bottom: 4rem;
    }

    &__number {
        padding: 2.125rem;
        background-color: #FCB72B;
        border-radius: 50%;
        color: #495567;
        font-size: 1.5rem;
        font-family: 'Space Mono', sans-serif;
        line-height: 1.75rem;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .item__heading {
        font-size: 1.5rem;
        line-height: 1.75rem;
        letter-spacing: -1.07px;
        margin-bottom: 1.6875rem;
    }

    &__paragraph {
        color: #939CAA;
    }
}

// * FAQ Section - Smartphone
.faq {
    padding-inline: 8.5%;

    &__heading {
        font-size: 2rem;
        line-height: 2rem;
        letter-spacing: -1.43px;
        margin-bottom: 3rem;
    }

    &__how-it-works {
        margin-bottom: 3rem;
    }

    &__sub-heading {
        font-size: 1.5rem;
        line-height: 1.75rem;
        letter-spacing: -1.07px;
        margin-bottom: 2rem;
    }

    &__item {
        text-align: left;
        background-color: #F2F5F9;
        margin-bottom: 1rem;
        position: relative;
        overflow: hidden;
    }

    &__question {
        font-size: 1.125rem;
        line-height: 1.5rem;
        letter-spacing: -0.8px;
        cursor: pointer;
        z-index: 9;
        position: relative;
        background-color: inherit;
        padding: 2rem 3.5rem 2em 2rem;
        transition: all 0.2s;


        &::after {
            content: url("../icons/chevron.svg");
            position: absolute;
            right: 20px;
            top: 40%;
            transition: all 0.5s;
        }

        &.show {

            &::after {
                transform: rotate(180deg);
            }
        }

        &:hover {
            background: #FFF4DF;
        }
    }

    &__answer {
        color: #495567;
        transform: translateY(-300px);
        transition: all 0.25s;
        max-height: 0;
        padding-inline: 2rem;
        
        &.show {
            transition: all 0.5s;
            max-height: 500px;
            transform: translateY(0);
            padding-bottom: 1.25rem;
        }
    }
}

// * Tablet Style
@media all and (min-width: 768px) {

    // * Hero Section - Tablet
    .hero {
        padding: 9.3% 66% 9.3% 12.6%;
        background-image: url("../images/about-hero-tablet.jpg");
        background-size: cover;

        &__main-heading {
            margin: 0;
        }

        .three-circles {
            bottom: 50%;
            transform: translateY(50%);
        }
    }

    // * Big Images Section - Tablet
    .big-images {
        &__item:nth-child(1) .arrow {
            bottom: 330px;
        }

        &__item:nth-child(2) .arrow {
            left: -120px;
        }
    }

    // * Values Section - Tablet
    .values {
        padding-inline: 20%;

        &__heading {
            font-size: 3rem;
            line-height: 3rem;
            letter-spacing: -2.14px;
        }
    }

    // * FAQ Section - Tablet
    .faq {
        &__heading {
            font-size: 3rem;
            line-height: 3rem;
            letter-spacing: -2.14px;
        }

        &__sub-heading {
            font-size: 2.5rem;
            line-height: 3rem;
            letter-spacing: -1.79px;
        }
    }
}

// * Desktop Style
@media all and (min-width: 1440px) {

    // * Hero Section - Desktop
    .hero {
        background-image: url("../images/about-hero-desktop.jpg");
        padding: 72px 1113px 72px 165px;
    }

    // * Big Images Section - Desktop
    .big-images {
        &__item:nth-child(1) .arrow {
            bottom: 30px;
            right: -15%;
        }

        &__item:nth-child(2) .arrow {
            left: -23%;
        }
    }

    // * Values Section - Desktop
    .values {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 30px;
        padding-inline: 11.45%;

        &__heading {
            grid-column: 1 / 4;
        }
    }

    // * FAQ Section - Desktop
    .faq {
        padding-inline: 11.45%;

        &__heading {
            margin-bottom: 4rem;
        }

        &__how-it-works,
        &__safe-driving {
            display: grid;
            grid-template-columns: 0.5fr 1fr;
            column-gap: 4.5rem;
        }

        &__sub-heading {
            grid-row: 1 / 4;
        }
    }
}