@import url("./css-reset.css");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 0.9375rem;
  line-height: 1.5625rem;
  font-family: 'Lexend Deca', sans-serif;
  position: relative;
  text-align: center;
}

h1, h2, h3, h4, a {
  font-family: 'Space Mono', monospace;
}

a {
  text-decoration: none;
  color: #FFF;
}

img {
  max-width: 100%;
}

.btn {
  background: #FCB72B;
  width: 12rem;
  padding: 0.875rem;
  text-align: center;
  display: inline-block;
}

.arrow, .circle, .line {
  position: absolute;
  left: 0;
}

.circle, .line {
  display: none;
}

section {
  position: relative;
  margin-bottom: 7.5rem;
  overflow: hidden;
}

section:last-of-type {
  margin-bottom: 0;
}

.nav {
  position: relative;
  height: 80px;
  text-align: left;
}

.nav__container {
  position: fixed;
  z-index: 999;
  width: 100vw;
  background-color: #FFF;
  padding: 1.375rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__btn {
  position: absolute;
  left: 1.75rem;
}

.nav__btn .close {
  display: none;
}

.nav__logo {
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 0 auto;
}

.nav__links {
  padding-left: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #333A44;
  width: 65vw;
  height: 100vh;
  position: fixed;
  z-index: 99;
  -webkit-transform: translateX(-500px);
          transform: translateX(-500px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.nav__links.show {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-box-shadow: 0 0 500px 500px rgba(53, 51, 51, 0.986);
          box-shadow: 0 0 500px 500px rgba(53, 51, 51, 0.986);
}

.nav__links .btn {
  margin-bottom: 1.5rem;
  padding-inline: 0;
}

.nav__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 8rem;
}

.nav__items a {
  margin-bottom: 1.5rem;
  font-size: 1.125rem;
}

.hero {
  padding: 30% 8.5% 47.7%;
  margin-bottom: 7.5rem;
  background: url("../images/home-hero-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFF;
  position: relative;
}

.hero__main-heading {
  font-size: 2.5rem;
  line-height: 2.5rem;
  margin-bottom: 1.5rem;
}

.hero__paragraph {
  margin-bottom: 2.125rem;
}

.hero .arrow {
  bottom: 2.3125rem;
  left: -14.6875rem;
}

.hero .circle, .hero .three-circles {
  display: none;
}

.locate {
  padding-inline: 8.5%;
}

.locate__item {
  margin-bottom: 3rem;
}

.locate__item:last-child {
  margin-bottom: 0;
}

.locate__icon {
  width: 3.5rem;
  max-width: 6rem;
  margin-bottom: 1.5rem;
}

.locate__heading {
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.89px;
  margin-bottom: 1.5rem;
}

.locate__paragraph {
  color: #939CAA;
}

.big-images {
  padding-inline: 2rem;
}

.big-images__item {
  position: relative;
  margin-bottom: 120px;
}

.big-images__item .arrow {
  max-width: 735px;
}

.big-images__item:nth-of-type(1) .arrow {
  bottom: 400px;
}

.big-images__item:nth-of-type(2) .arrow {
  top: 0;
  left: -200px;
}

.big-images__item:nth-of-type(3) .arrow {
  top: 0;
  left: 100px;
}

.big-images__item:last-of-type {
  margin-bottom: 0;
}

.big-images .item-image {
  border-radius: 50%;
  margin-bottom: 3.5rem;
}

.big-images__heading {
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: -1.43px;
  margin-bottom: 2rem;
}

.big-images__paragraph {
  color: #939CAA;
  margin-bottom: 2rem;
}

.app-download {
  padding: 23.4% 8.5%;
  background-image: url("../patterns/semi-circles.svg");
  background-color: #495567;
  background-repeat: no-repeat;
  background-size: 300%;
  background-position: 80% 100%;
  color: #FFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app-download__heading {
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 2.5rem;
}

.app-download__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 85%;
}

.app-download__buttons img {
  height: 40px;
}

.footer {
  background: #333A44;
  padding: 17% 34.1% 23.46%;
}

.footer__logo {
  margin-bottom: 42px;
}

.footer__logo img {
  -webkit-filter: brightness(100);
          filter: brightness(100);
}

.footer__links {
  margin-bottom: 85px;
}

.footer-item {
  color: #939CAA;
  margin-bottom: 1rem;
  display: block;
}

.footer-item:last-child {
  margin-bottom: 0;
}

.footer__social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media all and (min-width: 768px) {
  .circle {
    display: initial;
    z-index: -1;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-inline: 5.2%;
  }
  .nav__container {
    width: 20%;
    position: static;
  }
  .nav__btn {
    display: none;
  }
  .nav__logo {
    margin: 0;
  }
  .nav__links {
    all: unset;
    z-index: 999;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav__links .btn, .nav__links a {
    margin: 0;
  }
  .nav__items {
    margin: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-right: 3rem;
  }
  .nav__items a {
    color: #939CAA;
    margin-right: 2rem;
    font-size: 0.9375rem;
  }
  .hero {
    padding: 17.8% 12.9% 28.2%;
    background: url("../images/home-hero-tablet.jpg");
    background-size: cover;
  }
  .hero__main-heading {
    font-size: 3.5rem;
    line-height: 3.5rem;
    letter-spacing: -2.5px;
  }
  .hero .arrow {
    left: -7.5rem;
  }
  .hero .three-circles {
    display: initial;
    position: absolute;
    bottom: 50px;
    right: -35px;
  }
  .locate {
    text-align: left;
    padding-inline: 12.9%;
    overflow: visible;
    margin-bottom: 9.0625rem;
  }
  .locate__item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.33fr 1fr;
        grid-template-columns: 0.33fr 1fr;
    -webkit-column-gap: 1.875rem;
            column-gap: 1.875rem;
    position: relative;
  }
  .locate__item::before {
    z-index: -1;
    content: '';
    height: 133px;
    width: 15px;
    background: #E5ECF4;
    position: absolute;
    top: -120px;
    left: 40px;
  }
  .locate__icon {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    margin: 0;
    max-width: unset;
    width: 6rem;
  }
  .locate__heading {
    font-size: 1.5rem;
  }
  .big-images {
    padding-inline: 0;
  }
  .big-images__item:nth-child(even) .circle {
    left: -350px;
  }
  .big-images__item:nth-child(odd) .circle {
    left: unset;
    right: -350px;
  }
  .big-images__item:nth-child(1) .arrow {
    left: unset;
    right: 0;
    bottom: 350px;
  }
  .big-images__item:nth-child(2) .arrow {
    left: -100px;
  }
  .big-images__item:nth-child(3) .arrow {
    left: unset;
    top: 90px;
  }
  .big-images__content {
    padding-inline: 12.9%;
  }
  .big-images__heading, .big-images__paragraph {
    margin-bottom: 2.5rem;
  }
  .big-images__heading {
    font-size: 3rem;
    line-height: 3rem;
  }
  .app-download {
    padding: 8% 20.1%;
  }
  .app-download__heading {
    font-size: 3rem;
    line-height: 3rem;
  }
  .app-download__buttons {
    width: 56%;
  }
  .footer {
    padding: 2.1875rem 2.5rem 2rem 39px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer * {
    margin-bottom: 0;
  }
  .footer__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-item, .footer__social-media a {
    margin-right: 2rem;
  }
  .footer-item:last-child, .footer__social-media a:last-child {
    margin-right: 0;
  }
}

@media all and (min-width: 1440px) {
  .btn {
    -webkit-transition: background-color 0.2s, color 0.2s;
    transition: background-color 0.2s, color 0.2s;
  }
  .btn:hover {
    background-color: transparent;
    border: 2px solid #FCB72B;
    color: #FCB72B;
    padding: 12px;
  }
  .nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 1.5% 11.7%;
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
  .nav__links {
    width: 100%;
  }
  .nav__item {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .nav__item:hover {
    color: #FCB72B;
  }
  .hero {
    background-image: url("../images/home-hero-desktop.jpg");
    background-position: center;
    text-align: left;
    padding: 10.6% 53.8% 10.6% 11.45%;
  }
  .hero__main-heading {
    margin-bottom: 2.5rem;
  }
  .hero__paragraph {
    line-height: 30px;
    letter-spacing: 0.031em;
    margin-bottom: 2.5rem;
    position: relative;
    left: 100px;
    width: 78%;
  }
  .hero__btn {
    position: relative;
    left: 100px;
  }
  .hero .arrow {
    left: unset;
    right: 280px;
    bottom: 32%;
    -webkit-transform: translateY(32%);
            transform: translateY(32%);
  }
  .hero .three-circles {
    bottom: 29%;
    -webkit-transform: translateY(29%);
            transform: translateY(29%);
  }
  .hero .line {
    display: initial;
    bottom: 45%;
    -webkit-transform: translateY(45%);
            transform: translateY(45%);
  }
  .locate {
    padding-inline: 11.45% 13%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -webkit-column-gap: 60px;
            column-gap: 60px;
  }
  .locate__item {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 0;
    max-width: 353px;
  }
  .locate__item::before {
    inset: unset;
    height: 15px;
    width: 974px;
    left: -900px;
    bottom: 230px;
  }
  .locate__icon {
    margin-bottom: 2.5rem;
  }
  .big-images {
    padding-inline: 11.5%;
  }
  .big-images__item {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 200px;
            column-gap: 200px;
  }
  .big-images__item:nth-child(even) .big-images__content {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .big-images__item:nth-child(1) .arrow {
    right: -20%;
    bottom: 0;
  }
  .big-images__item:nth-child(1) .circle {
    right: -500px;
  }
  .big-images__item:nth-child(2) .arrow {
    left: -23%;
  }
  .big-images__item:nth-child(2) .circle {
    left: -500px;
  }
  .big-images__item:nth-child(3) .arrow {
    right: -50%;
  }
  .big-images__item:nth-child(3) .circle {
    right: -500px;
  }
  .big-images .item-image {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    margin: 0;
  }
  .big-images__content {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 /2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1 / 2;
    text-align: left;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    padding-inline: 0;
  }
  .app-download {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 100px;
            column-gap: 100px;
    text-align: left;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 7% 11.45%;
  }
  .app-download__heading {
    width: 90%;
    margin: 0;
  }
  .app-download__buttons {
    justify-self: flex-end;
    width: 280px;
  }
  .footer {
    padding: 2.4% 11.45%;
  }
  .footer-item {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .footer-item:hover {
    color: #FCB72B;
  }
  .footer__social-media {
    -webkit-transition: -webkit-filter 0.8s;
    transition: -webkit-filter 0.8s;
    transition: filter 0.8s;
    transition: filter 0.8s, -webkit-filter 0.8s;
  }
  .footer__social-media img:hover {
    -webkit-filter: brightness(100);
            filter: brightness(100);
  }
}

.hero {
  padding: 16% 8.5%;
  background-image: url("../images/about-hero-mobile.jpg");
  background-position: center;
  margin-bottom: 4.5rem;
}

.big-images__item:nth-child(1) .arrow {
  bottom: 55%;
}

.big-images__item:nth-child(2) .arrow {
  left: -150px;
}

.values {
  padding-inline: 8.5%;
}

.values__item {
  position: relative;
  margin-bottom: 56px;
}

.values__heading {
  color: #495567;
  font-size: 2rem;
  line-height: 2rem;
  margin-bottom: 4rem;
}

.values__image {
  border-radius: 50%;
  margin-bottom: 4rem;
}

.values__number {
  padding: 2.125rem;
  background-color: #FCB72B;
  border-radius: 50%;
  color: #495567;
  font-size: 1.5rem;
  font-family: 'Space Mono', sans-serif;
  line-height: 1.75rem;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.values .item__heading {
  font-size: 1.5rem;
  line-height: 1.75rem;
  letter-spacing: -1.07px;
  margin-bottom: 1.6875rem;
}

.values__paragraph {
  color: #939CAA;
}

.faq {
  padding-inline: 8.5%;
}

.faq__heading {
  font-size: 2rem;
  line-height: 2rem;
  letter-spacing: -1.43px;
  margin-bottom: 3rem;
}

.faq__how-it-works {
  margin-bottom: 3rem;
}

.faq__sub-heading {
  font-size: 1.5rem;
  line-height: 1.75rem;
  letter-spacing: -1.07px;
  margin-bottom: 2rem;
}

.faq__item {
  text-align: left;
  background-color: #F2F5F9;
  margin-bottom: 1rem;
  position: relative;
  overflow: hidden;
}

.faq__question {
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: -0.8px;
  cursor: pointer;
  z-index: 9;
  position: relative;
  background-color: inherit;
  padding: 2rem 3.5rem 2em 2rem;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.faq__question::after {
  content: url("../icons/chevron.svg");
  position: absolute;
  right: 20px;
  top: 40%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.faq__question.show::after {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.faq__question:hover {
  background: #FFF4DF;
}

.faq__answer {
  color: #495567;
  -webkit-transform: translateY(-300px);
          transform: translateY(-300px);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  max-height: 0;
  padding-inline: 2rem;
}

.faq__answer.show {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  max-height: 500px;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  padding-bottom: 1.25rem;
}

@media all and (min-width: 768px) {
  .hero {
    padding: 9.3% 66% 9.3% 12.6%;
    background-image: url("../images/about-hero-tablet.jpg");
    background-size: cover;
  }
  .hero__main-heading {
    margin: 0;
  }
  .hero .three-circles {
    bottom: 50%;
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
  .big-images__item:nth-child(1) .arrow {
    bottom: 330px;
  }
  .big-images__item:nth-child(2) .arrow {
    left: -120px;
  }
  .values {
    padding-inline: 20%;
  }
  .values__heading {
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: -2.14px;
  }
  .faq__heading {
    font-size: 3rem;
    line-height: 3rem;
    letter-spacing: -2.14px;
  }
  .faq__sub-heading {
    font-size: 2.5rem;
    line-height: 3rem;
    letter-spacing: -1.79px;
  }
}

@media all and (min-width: 1440px) {
  .hero {
    background-image: url("../images/about-hero-desktop.jpg");
    padding: 72px 1113px 72px 165px;
  }
  .big-images__item:nth-child(1) .arrow {
    bottom: 30px;
    right: -15%;
  }
  .big-images__item:nth-child(2) .arrow {
    left: -23%;
  }
  .values {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -webkit-column-gap: 30px;
            column-gap: 30px;
    padding-inline: 11.45%;
  }
  .values__heading {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
  }
  .faq {
    padding-inline: 11.45%;
  }
  .faq__heading {
    margin-bottom: 4rem;
  }
  .faq__how-it-works, .faq__safe-driving {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 0.5fr 1fr;
        grid-template-columns: 0.5fr 1fr;
    -webkit-column-gap: 4.5rem;
            column-gap: 4.5rem;
  }
  .faq__sub-heading {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    grid-row: 1 / 4;
  }
}
/*# sourceMappingURL=about.css.map */